/*
Diadibi styles
*/
/* 
    Created on : 01-Jan-2022, 09:49:53
    Author     : Klaus Giebermann
*/


.diadibi-btn-large{
    width: 200px;
    height: 180px;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.diadibi-btn-large:hover{
    color: #a0a0a0;
}



.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.diadibi-link{
    color: -webkit-link;
    cursor: pointer;
}


.diadibi-bubble{
    background: #f0f0f0;
    border-radius: 20px;
    width: 80%;
    padding: 20px;

}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Jul-2021, 08:42:22
    Author     : Klaus Giebermann
*/



.diadibi-block {
    width: 150pt;
    height: 60pt;
    margin: 5pt;
    text-align: center;
    white-space:normal !important;
    word-wrap:break-word; 
    text-transform: none;
    display: inline-block;
    border: 4px solid #1D4E89;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.diadibi-block:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    color: #ffffff;
    /*    background: #0020C0; */ 
    /*    background: #3367d7; */
    background: #1D4E89;
}


.diadibi-well {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    background: #c0c0c0;
    color: #000;
    margin: 20px;

}

.diadibi-container{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}





.diadibi-region{
    position: absolute;
    font-size: 1em;
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}



.diadibi-region:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.diadibi-region0 {
    position: relative;
    width: auto;
    height: 100%;

    background: #9ACA7C;
    color: #000;
}


.diadibi-region1 {
    background: #0f73b4;
    color: #000;
    top: 10px;
    left: 10px;
    width: calc(20% - 20px);
    height: 490px;

}

.diadibi-region2 {
    background: #000;
    color: #fff;
    top: 10px;
    left: calc(20% + 10px);
    width: calc(20% - 20px);
    height: 240px;
}


.diadibi-region3 {
    background: #FB0007;
    color: #000;
    top: 10px;
    left: calc(40% + 10px);
    width: calc(20% - 20px);
    height: 490px;
}


.diadibi-region4 {
    background: #6F2D0C;
    color: #fff;
    top: 10px;
    left: calc(60% + 10px);
    width: calc(20% - 20px);
    height: 240px;
}



.diadibi-region5 {
    background: #B04510;
    color: #000;
    top: 10px;
    left: calc(80% + 10px);
    width: calc(20% - 20px);
    height: 490px;
}



.diadibi-region6 {
    background: #BDBDBD;
    color: #000;
    top: 260px;
    width: calc(20% - 20px);
    left: calc(20% + 10px);
    height: 240px;
}


.diadibi-region7 {
    background: #F5BF9D;
    color: #000;
    top: 260px;
    left: calc(60% + 10px);
    width: calc(20% - 20px);
    height: 240px;
}


.diadibi-region8 {
    background: #FDB407;
    color: #000;
    top: 510px;
    left: 10px;
    width: calc(50% - 20px);
    height: 100px;
}


.diadibi-region9 {
    background: #1D8E75;
    color: #000;
    top: 510px;
    right: 10px;
    width: calc(50% - 20px);
    height: 100px;
}




.expoertUI-history{
    position: absolute;
    top: 40pt;
    height: 20pt;
    line-height: 20pt;
    background: #f0f0f0;
    padding-left: 10pt;
    padding-right: 10pt;
    overflow-x: auto;
    width: 100%;
}


.diadibi-top{
    position: absolute; 
    width: 100%;
    top: 0;
    height: 50%;
    overflow-y: auto;
}


.diadibi-bottom{
    position: absolute; 
    width: 100%;
    bottom: 0;
    height: 50%;
    overflow-y: auto;
}






.diadibi-left{
    position: absolute; 
    width: 50%;
    top: 0;
    height: 100%;
    overflow:hidden;
}


.diadibi-right{
    position: absolute; 
    width: 50%;
    bottom: 0;
    height: 100%;
    right: 0;
    overflow: auto;
}

.diadibi-textarea{
    width: 100%;
    height: calc(100% - 10px);
    resize: none;
    outline: none;
    border: none;
    background: #f0f0f0;
    padding: 10px;

}


.diadibi-textarea-1{
    width: 100%;
    height: 80%;
    resize: none;
    outline: none;
    border: 1pt solid #000;
    background: #f0f0f0;
    padding: 10px;

}

.diadibi-textarea-2{
    width: 100%;
    height: calc(20% - 10px);
    resize: none;
    outline: none;
    border: 1pt solid #000;
    background: #f0f0f0;
    padding: 10px;

}


.drop-zone{
    border: 1pt solid #000;
    background: #FDB407;
    width: 100%;
    min-height: 40px;
}

.drag-zone{
    border: 1pt solid #000;
    border-radius: 5px;
    height: auto;
    cursor: pointer;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;

}

.view-left{
    position: absolute;
    left: 0;
    width: 280px;
    top: 0;
    bottom: 0;
    background: #ffffff;
    overflow-y: scroll;
}

.view-right{
    position: absolute;
    left: 280px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f0f0f0;
    overflow-y: scroll;
}

.page-info {
    width: 80%;
    margin: 5px;
    border-radius: 5px;

    background: #ffffff;
    border: 1pt solid #000;
    text-align: center;
    cursor: pointer;
}

.page-info:hover{
    background: #a0a0a0;
}

.page-active {
    background: #FDB407;
}

.diadibi-left-element{
    position: absolute; 
    left: 0;
    width: 350px;
    top: 0;
    bottom: 0;
    overflow-y:scroll; 
    background: #ffffff;
    padding: 10px;
}



.diadibi-nav-element{
    position: absolute; 
    left: 0;
    width: 350px;
    top: 105px;
    bottom: 0;
    overflow-y:scroll; 
    background: #ffffff;
    padding: 10px;
}


.diadibi-right-element{
    position: absolute;
    left: 350px;
    right: 0;
    top: 100px;
    bottom: 50px;
    background: #f0f0f0;
    overflow-y: scroll;
    padding: 10px;
    /* background-image: url('../images/Background.png') */
}

.diadibi-progress-element{
    position: absolute;
    left: 350px;
    right: 0;
    height: 50px;
    bottom: 0;
    background: #f0f0f0;
    padding: 10px;
}


.diadibi-top-element{
    position: absolute;
    left: 0px;
    right: 0;
    top:0;
    height: 100px;
    background: #f0f0f0;
    display: flex;
}


.diadibi-icon{
    height: 95%;
    width: auto;
    font-size: 2em;
    background: #ffffff;
    color:#000000;
    font-weight: bold;
    display: inline-flex;
    padding-right: 20px;
    margin-left: 5px;
    border-radius: 0 0  30px 0;
    line-height: 100px;
}

.diadibi-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin:10px;


    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);

    /* background-image: url('../images/avatar.jpg'); */

    background-size: 100px 100px;
}

.diadibi-io-bubble{
    margin-right:100px;
    margin-left:100px;
    background: #ffffff;
    border: 1pt solid #000;
    border-radius: 10px;
    min-height: 50px;
    padding: 10px;
    margin-bottom:20px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.diadibi-pause{
    background: #ffffff;
    border: 1pt solid #000;
    border-radius: 10px;
    min-height: 50px;
    width: 100px;
    padding: 10px;
    margin-bottom:20px;
}

.diadibi-next{
    width:100%;
    text-align: center;
    margin-bottom: 20px;
}

.diadibi-image{
    width:100%;
}

.tree-item{
    font-size: 1.125em;
    cursor: pointer;
}

.tree-item:hover{
    color: #0000ff;
}


.diadibi-content{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}
.diadibi-tag{
    position: absolute;
    right: -20px;
    top: -20px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1pt solid #000;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.diadibi-tag:hover{
    background: #000;
    color: #fff;
}


.diadibi-choice {
    width: 100%;
    background: #c0c0c0;
    color: #000;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}


.diadibi-icons{
    display: inline-flex;
    vertical-align: top;
    margin-right: 5px;
}

.diadibi-choice:hover{
    background: #e0e0e0;
}

.diadibi-choice-selected{
    background: #cee0f4;
}

.diadibi-check-line{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;

    display: inline-flex;
    vertical-align: middle;

}

.diadibi-item-feedback{
    background: #fff;
    color: #000;
    border: 1pt solid #a0a0a0;
    margin-left: 20px;
    padding: 8px;
}


.diadibi-result {
    width: auto;
    border-radius:5px;
    background: #fff;

    display: inline-flex;
    vertical-align: middle;
    margin-right: 20px;

    font-size: 1.4em;
}


.diadibi-milestone{
    display: inline-flex;
    background: #f0f0f0;
    border: 1pt solid #a0a0a0;
    text-align: center;
}

.diadibi-drag-element{
    width: auto; 
    display: inline-block;
    padding: 10px;
    border: 1pt solid #a0a0a0;
    background: gold;
    border-radius: 5px;
}

.diadibi-drop-zone{
    width: 50%;
    position: relative;
    /*    border: 1pt dotted #a0a0a0;*/
    border-radius: 10px;
    background: #fffff0;
    min-width: 100px;
    min-height: 80px;
    padding: 20px;
    border-style: dotted;
}

.diadibi-drag-zone {
    width: 100%;
    min-height: 100px;
    background: #f0f0f0;
    padding: 20px;
}


.diadibi-badge{
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 4em;
}


.diadibi-top-text{
    /*    font-size: 2em; */
    display: inline-flex;
    /*    font-weight: bold;*/
}


.diadibi-page{
    width: 100%;
    height: 100%;
    background: #fcfcfc;
}



.diadibi-close-btn {
    position: absolute;
    width:26px;
    height: 26px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s; /* Animation */
    z-index: 1;
    right: -10px;
    top: -10px;

}

.diadibi-close-btn:hover{
    transform: scale(1.25);
}


.diadibi-btn {
    position: absolute;
    width:26px;
    height: 26px;
    background: #fff;
    color: #1E90FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s; /* Animation */
    z-index: 1;
}

.diadibi-btn:hover{
    transform: scale(1.5);
}


.diadibi-image-text{
    position: absolute;
    width: 45%;
    background: #fff;
    color: #000;
    border: 1pt solid #000;
    padding: 10px;
    z-index: 110;
    display: none;
}


.diadibi-disable{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 10;
    background: rgba(255,255,255,0.5);
    display: none;
}


.diadibi-hotmap{
    position: relative;
}


.diadibi-level-0 {
    margin: 10px;
    border: 2px solid #a0a0a0;
    width: calc(100%-20px);
    border-radius: 10px;
}

.diadibi-level-0:hover{
    border: 2px solid #FF6D0A;
}

.diadibi-level0-head {
    width: 100%;
    background: #1E90FF;
    height: 100px;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.diadibi-level1-element{
    margin-bottom: 10px;
    margin-top: 5px;
}


.diadibi-level1-head {
    width: 100%;
    background: #f4f4f4;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    color: #000;
    width: calc(100%-40px);
    min-height: 80px;
    position: relative;
    font-size: 1.25em;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.diadibi-level1-body {
    text-align: left;
    border-left: 8px solid #b0b0b0;
    margin-left: 20px;
    padding-left: 20px;
}



.diadibi-level1-head:hover{
    border: 2px solid #FF6D0A;
}

.diadibi-level0-line {
    width: 100%;
    height: 50px;
    background: #fff;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    font-size: 1.5em;
    cursor: pointer;
}

.diadibi-level0-line:hover{
    color: #0000f0;
    background: #f8f8f8;
}



.diadibi-bold {
    font-weight: bold;
}




.diadibi-level0-body{
    width: 100%;
    height: auto;
    background: #fff;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;

}


.diadibi-level2-head {
    width: 100%;
    font-size: 1em;
    color: #a0a0a0;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.diadibi-level2-head:hover{
    border-left: 2pt solid #FF6D0A;
}

.diadibi-level2-head-active {
    width: 100%;
    font-size: 1em;
    color: #000;
    padding-left: 10px;
    border-left: 2pt solid #FF6D0A;
    margin-top: 5px;
    margin-bottom: 5px;

}

.diadibi-level2-head:hover{
    color: #000;
}


.diadibi-expand {
    position: absolute;
    left: 30px;
    margin-top: 5px;
    background: #d0d0d0;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    display: inline;
}




.diadibi-expand:hover{
    background: #b0b0b0;
}


.diadibi-level1-expand{
    position: absolute;
    left: 0px;
    background: #d0d0d0;
    border-radius: 18px 0px 0px 18px;
    width: 40px;
    height: 100%;
    display: inline;
    vertical-align: middle;
    text-align: center;
    padding-top: 6px
}


.diadibi-level1-expand:hover{
    background: #b0b0b0;
}


.diadibi-level0-head>img{
    border-radius: 8px 8px 0 0;
}

.diadibi-skill-header{
    width: 100%;
    text-align: left;
    font-size: 2em;
    cursor: pointer;
    padding-left: 10px;
    font-weight: bold;
}

.diadibi-skill-header:hover{
    color:#0000f0;
}


.diadibi-level1-title1 {
    display: inline-block;
    width: 100%;
    border-radius: 18px;
    padding-left: 40px;
}

.diadibi-level1-title2 {
    position: absolute;
    width: 100%;
    border-radius: 18px; 
}



.diadibi-reset{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 95px;
    height: 95px;
    width: 100px;
    background: #ffffff;
    text-align: center;
}

.diadibi-reset-icon{
    font-size: 3.5em;
    line-height: 90px;
    font-weight: bold;
}


.diadibi-active-title{
    border: 2pt solid #FF6D0A;
}

.diadibi-active{
    border: 2pt solid #FF6D0A;
}

/* Top center text */
.diadibi-text-box {
    position: absolute;
    border:  2pt solid #FF6D0A;
    border-radius: 10px;
    background-color: gray;
    /*   color: white; 
    style="top=30%; left=50%;position=absolute; border=2pt solid wheit; background-color= transparent"*/
    /* ;position:absolute; border:2pt solid #FF6D0A; border-radius:10px;background-color: gray"   */

}
.diadibie-progress-status{
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
}

.diadibie-progress-bar{
    width: 25%;
    height: 35px;
    background-color: #4CAF50;
    border-radius: 8px;
    text-align: center;
    line-height: 32px;
    color: black;
}
.diadibi-level1-progress-bar {
    position: absolute;
    background-color: greenyellow;
    border-radius: 20px;
    opacity: 70%;
    /*     width: 50%;
    */    right: 32px;
    width:300px;height:30px
}
.content{
    margin: 100px auto 20px auto;
    border: 10px solid #1cd858;
    border-radius: 8%;
    width: 500px;
    height: 400px;
    position: relative;
}

.content img{
    position: absolute;
    width: 500px;
    height: 400px;
    left: 0;
    top: 0;
}

.btnMargen {
    margin: 1%;
}



.fadeinimg { animation: slidein 2s;
}

@keyframes slidein {  


}
@keyframes fadein { 
    from { opacity: 0;
    } 
    to { 
        opacity: 1; 
    }
}

.draggableContainer {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;

    width: 100%;
    margin-left: 10px;
    margin-top: 10px;

    vertical-align: middle;
}

.draggable {
    position: relative;
    padding: 1rem;
    background-color: #647890;
    border-radius: 5px;
    border: 1px solid #344966;
    cursor: grab;

}

.draggableContainer :hover{
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(138, 181, 242);
    border: 2px dotted #0867e2;
}

.draggable :hover{

    border: 0px ;
}

.draggable-img {
    position: relative;
    padding: .3rem;
    margin: .2em;
    background-color: #F9844D;
    border-radius: 0.9em;
    cursor: move;

}

.dragging {
    opacity: .8;
    border: #344966 dotted;
    background-color: rgb(138, 181, 242);
    cursor:-moz-grabbing;
    position: relative;
    padding: .3rem;
    margin: .2em;
    border-radius: 10px;
} 

.guess-img-container{
    justify-content: center;
    align-items: center;
}
.center{
    display: list-item;
    vertical-align: middle;
}
.center p{
    font-weight: bold;
    text-align: center;

}

.center .btn .btn-primary {
    text-align: center;
}

.imgs-container{
    display: inline-block;
    background-color: #EBEBEB;
}

.image-choice{
    padding: 0.5em;
    margin: 0.5em;
    background-color: white;
    border: 2px solid #b9bcc0;
    border-radius: 12px;
    display: inline-block;
}

.imgs-container img.image-choice:hover{
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgb(138, 181, 242);
    border: 2px dotted #0867e2;
    border-radius: 12px;
    display: inline-block;

}

.img-selected{
    border: 2px solid #344966;
    box-shadow: 0 0 4px 2px #1a73d9;;

}

.img-selected-correct{
    background-color: #edfff0;
    border: 2px solid #1cd858;
}
.img-selected-wrong{
    background-color: #ffe6e3;
    border: 2px solid red;
}



.addMargin {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.material-icons :hover{
    box-shadow: #b9bcc0;
}
.links {
    display: inline-flex;
}


.diadibi-coin{
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    margin: 2rem 4rem 4rem 0rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(234, 186, 64);
    border: 0.6rem solid goldenrod ;

}

.diadibi-coin div :hover {
    background-color: rgb(138, 127, 6);
    box-shadow:  #494405;
    transition: 0.7s;

}

.mark-the-words:hover{
    border: 0.2rem solid #647890;
    border-radius: .25em;
}

.mark-the-words-marked{
    background-color: #344966 ;
    border-radius: .25em;
    color: #F9844D;
}
.word-correct-selected{
    border: 0.2rem solid #1cd858; 
    border-radius: .25em;
}
.word-wrong-selected{
    border: 0.2rem solid red;
    border-radius: .25em;
}
.textConatiner {
    background-color: #EBEBEB;
    border-radius: 0.3em;
    padding: 1rem;
    width: 100%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}
.mint-bubble {
    display: block;
    width: 85%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

.blue.lighten-4 {
    background-color: #BBDEFB !important;
}

.mint-right-align {
    margin-left: auto;
}

.green.lighten-4 {
    background-color: #C8E6C9 !important;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }




.diadibi-section{
    margin-left: 00px;
    margin-bottom: 20px;
    background: rgba(100,100,100,0.25);
    
    
    border-radius: 50px;
    padding-bottom: 10px;
}







.diadibi-section-head{
    display: flex;
    background: #f8f8f8;
    font-weight: bold;
    
/*    border: 2px solid #000;*/
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}



.diadibi-section-head-left{
    width: 80%;
    overflow: hidden;
}

.diadibi-section-head-right{
    width: 200px;
    text-align: right;
}

.diadibi-section-body{
/*    margin-left: 20px;*/
}

.diadibi-section-toggle{
    position: absolute; 
    border-radius: 10px;
    background: #f8f8f8;
    cursor: pointer;
    top: 0;
    left: 10px;
    right: 10px;
    height: auto; 
    padding: 30px;
}


.chatbot {
    width: 98%;
    margin: auto;
    height: 100%;
    overflow-y: auto;


}

.chatbotHistory {
    width: 100%;
    height: 80%;
    position: absolute;
    border-radius: 20px;
    background-color: #f7a37bae;
    font-family: Arial, sans-serif;
    overflow: scroll;
}

form {

    display: inline-flex;
    justify-content: space-between;
    padding: 0 20px;
}

.userMessage {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    text-align: right;
    color: #F9844D;
}

.chatbotMessage {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius:5px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    text-align: left;
    color: #344966;
}



.GPT-input[type="text"] {
    position: absolute;
    bottom: 5%;
    left:  1%;
    width: 80%;
    height: 40px;
    padding: 0 10px;
    border: 2px solid #344966;
    border-radius: 5px;
    font-size: 16px;
}

button[type="button"] {
    position: absolute;
    bottom: 5%;
    right: 1%;    
    width: 15%;
    height: 40px;
    background-color: #344966;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);
    margin: auto;
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #344966;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #344966;
    text-align: center;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    /* flip 180deg */
    transform: rotateY(180deg);
    opacity: 0;
}

.toggle input:checked~.labels::before {
    transform: rotateY(180deg) scale(-1, 1);
    opacity: 1;
}


.skillynx-element0 {
    position: absolute; 
    left: 0;
    height: 100px;
    width: 350px;
    /* background-image: URL("../images/skillynx.png"); */
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;    
    background-color: #f0f0f0;
}

.skillynx-element1 {
    position: absolute; 
    left: 350px;
    right: 0;
    top: 0;
    height: 100px;
    background: #f0f0f0;
    border-radius: 0 0 30px 0;
    display: flex;
}

.skillynx-element2{
    position: absolute;
    left: 0;
    top: 100px;
    width: 350px;
    bottom: 0;
    background: #ffffff;
    overflow-y: auto;

}

.skillynx-element3{
    position: absolute; 
    left: 350px;
    right: 0;
    top: 100px;
    bottom: 0px;
    /* background-image: url(../images/Background.png); */
    overflow-y: scroll;
    padding: 10px;
}





.skillynx-navbar-item {
    font-size: 1.8em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    color: #000;
    border-bottom: 4px solid #f0f0f0;
}

.skillynx-navbar-item:hover{
    color: #EA8A59;
}

.skillynx-navbar-item-active {
    border-bottom: 4px solid #EA8A59;
}
